body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.header_content {
    background-color: black;
    margin-left: 30%;
    margin-top: 1%;
}

.header_content-first {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Gilroy;
    font-weight: 500;
    font-size: 30px;
    transition: 0.2s;
    margin-left: 0.5%;
}

.header_content-second {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Gilroy;
    font-weight: 500;
    font-size: 30px;
    margin-left: 10%;
    transition: 0.2s;
}

.header_content-third {
    margin-left: 300px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    font-size: 25px;
    font-family: Gilroy;
    transition: 0.2s;
}

.header_content-first:hover {
    transition: 0.2s;
    color: #777777;
}

.header_content-second:hover {
    transition: 0.2s;
    color: #777777;
}

.header_content-third:hover {
    transition: 0.2s;
    color: #777777;
}

.searching {
    margin-top: 10%;
    margin-left: 26%;
    display: flex;
    gap: 10px;
}

.footer_content {
    color: white;
    margin-left: 35%;
    font-family: Gilroy;
    font-size: 40px;
    font-weight: 500;
}

.search {
    height: 25px;
    width: 300px;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-family: Gilroy;
}

.btn {
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: black;
    color: white;
    cursor: pointer;
}

.serial {
    background-color: #000000;
    height: 600px;
    width: 400px;
    margin-left: 27%;
    margin-top: 3%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: white;
    font-family: Gilroy;
    border: 1px solid white;
    transition: 0.2s;
}

.preview {
    width: 400px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    transition: 0.2s;
}

.goto {
    border: 1px solid rgb(255, 255, 255);
    width: 400px;
    height: 50px;
    margin-top: 187px;
    background-color: black;
    color: white;
    font-family: gilroy;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.name {
    margin-left: 4%;
}

.description {
    margin-left: 4%;
}

.goto:hover {
    transition: 0.2s;
    background-color: #161616;
}